/*********************************
// Basic Layout Style
*********************/
body{
  background-color: lighten($primaryThemeColor,32%);
}

.main-wrap{
    width: 90%;
    margin: auto;
    max-width: 1550px;
}

.main-header{
    font-family: pageHeader;
    font-size: 2.5rem;
    color: $primaryThemeColor;
    margin: 1rem 0;
}
/*********************************
// Grid Layout Style
*********************/
.grid-container{
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 4px gray;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-auto-rows:200px;
    padding: 1rem;
}

.grid-item{
    border: solid 2px lighten($primaryThemeColor,20%);
    display: flex;
    margin: 1rem;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    transition: .3s;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 4px tomato;
    }
}

.avatar{
    border-radius: 50%;
}

.name,
.nameoverlay{
    font-family: nameItem;
    letter-spacing: 2px;
}

.email,
.city,
.phone,
.address,
.birthday{
    color: $primaryThemeColor;
    margin-top: 8px;
}

/*********************************
// overlayContainer Layout Style
*********************/
.overlayWrap{
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    visibility: hidden;
}